
altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
executing
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
idna
importlib-metadata
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
nest-asyncio
numpy
packaging
pandas
parso
Pillow
platformdirs
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pydeck
Pygments
python-dateutil
pytz
pywin32
pyzmq
referencing
requests
rich
rpds-py
rsa
six
smmap
stack-data
streamlit
tenacity
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
validators
watchdog
wcwidth
zipp
python-dotenv
